<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="robot_name" default=""/>

    <xacro:macro name="flir_a65_camera_gazebo" params="name">
        <gazebo reference="${name}_frame">
            <sensor type="thermal" name="${name}_thermal_cam">
                <update_rate>9</update_rate>
                <always_on>true</always_on>
                <topic>$(arg robot_name)/thermal_camera/image_raw</topic>
                <gz_frame_id>${name}_optical_frame</gz_frame_id>
                <camera name="${name}">
                    <camera_info_topic>$(arg robot_name)/${name}/camera_info</camera_info_topic>
                    <horizontal_fov>${45.0*pi/180.0}</horizontal_fov>
                    <image>
                        <format>R8G8B8</format>
                        <width>640</width>
                        <height>512</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>10</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>