<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.14159"/>

    <xacro:macro name="generic_camera_gazebo" params="name robot_name update_rate res_x res_y hfov image_format">
        <gazebo reference="${name}_link">
            <sensor type="camera" name="${name}_camera_sensor">
                <update_rate>${update_rate}</update_rate>
                <topic>$(arg robot_name)/${name}/image_raw</topic>
                <gz_frame_id>$(arg robot_name)/${name}_optical_frame</gz_frame_id>
                <camera name="${name}">
                    <camera_info_topic>$(arg robot_name)/${name}/camera_info</camera_info_topic>
                    <horizontal_fov>${hfov * M_PI/180.0}</horizontal_fov>
                    <image>
                        <format>${image_format}</format>
                        <width>${res_x}</width>
                        <height>${res_y}</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>100</far>
                    </clip>
                </camera>
                <!--frameName>${name}_optical_frame</frameName-->
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>