<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:macro name="realsense_d435_camera_gazebo" params="name robot_name parent frame_name:=color min_range max_range update_rate">
        <gazebo reference="${name}_link">
            <sensor type="rgbd_camera" name="${name}">
            <!-- Camera-specific parameters -->
            <update_rate>${update_rate}</update_rate>
            <topic>${robot_name}/${name}</topic>
            <gz_frame_id>${name}_${frame_name}_optical_frame</gz_frame_id>
            <!-- frameName>${name}_${frame_name}_optical_frame</frameName-->
            <camera name="${name}_color">
                <camera_info_topic>${robot_name}/${name}/camera_info</camera_info_topic>
                <horizontal_fov>${69.4 * M_PI/180.0}</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>${min_range}</near>
                    <far>${max_range}</far>
                </clip>
                <depth_camera>
                <!-- Depth camera parameters -->
                    <clip>
                        <near>${min_range}</near>
                        <far>${max_range}</far>
                    </clip>
                </depth_camera>
            </camera>
        </sensor>
      </gazebo>
    </xacro:macro>
</robot>