<?xml version="1.0"?>


<!-- datasheet: https://www.sodavision.com/wp-content/uploads/2023/12/2023.07-astra-stereo-s-u3-datasheet-_v2.0_en.pdf -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.14159"/>



    <xacro:include filename="$(find hector_xacro_tools)/urdf/inertia_tensors.urdf.xacro" />

    <xacro:macro name="orbbec_astra_stereo_s_u3" params="name *origin *parent">

        <xacro:property name="orbbec_astra_stereo_s_u3_mass" value="0.05"/> <!-- estimated, needs to be checked -->
        <xacro:property name="orbbec_astra_stereo_s_u3_length" value="0.0653"/>
        <xacro:property name="orbbec_astra_stereo_s_u3_width" value="0.0123"/>
        <xacro:property name="orbbec_astra_stereo_s_u3_height" value="0.0225"/>

        <joint name="${name}_joint" type="fixed">
            <child link="${name}_link"/>
            <xacro:insert_block name="origin"/>
            <xacro:insert_block name="parent"/>
        </joint>

        <!-- Camera base -->
        <link name="${name}_link">
            <xacro:inertial_cuboid mass="${orbbec_astra_stereo_s_u3_mass}" x_length="${orbbec_astra_stereo_s_u3_length}" y_length="${orbbec_astra_stereo_s_u3_width}" z_length="${orbbec_astra_stereo_s_u3_height}" />
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://hector_sensors_description/meshes/orbbec_astra_stereo_s_u3/orbbec_astra_stereo_s_u3.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.006 0 0.001" rpy="0 0 0" />
                <geometry>
                    <box size="0.021 0.07 0.025"/>
                </geometry>
            </collision>
        </link>

        <!-- Camera RGB sensor -->
        <link name="${name}_rgb_link"/>
        <joint name="${name}_rgb_joint" type="fixed">
            <origin xyz="0.014 0.01 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_rgb_link" />
        </joint>


        <!-- Camera Depth sensor -->
        <!-- Assuming the depth image is published in the same frame as the rgb image -->
        <link name="${name}_depth_link"/>
        <joint name="${name}_depth_joint" type="fixed">
            <origin xyz="0.014 0.01 0" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_depth_link" />
        </joint>

        <!-- Camera Optical Frame -->
        <link name="${name}_rgb_optical_frame"/>
        <joint name="${name}_rgb_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-${M_PI/2.0} 0 -${M_PI/2.0}" />
            <parent link="${name}_rgb_link" />
            <child link="${name}_rgb_optical_frame" />
        </joint>

        <!-- Camera Depth Optical Frame -->
        <link name="${name}_depth_optical_frame"/>
        <joint name="${name}_depth_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="-${M_PI/2.0} 0 -${M_PI/2.0}" />
            <parent link="${name}_depth_link" />
            <child link="${name}_depth_optical_frame" />
        </joint>

    </xacro:macro>

</robot>