<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find hector_xacro_tools)/urdf/sensor_macros.urdf.xacro" />
  <xacro:include filename="$(find hector_sensors_description)/gazebo/flir_a65_camera.gazebo.xacro"/>
  <!--Dimensions taken from http://www.flir.com/automation/display/?id=56341-->

  <xacro:macro name="flir_a65_camera_model" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_frame"/>
    </joint>
    
    <link name="${name}_frame">
      <xacro:inertial_sphere mass="0.21" diameter="0.07" />
      <visual>
        <origin xyz="${0.1041*-0.5} 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1041 0.0496 0.0466" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="${0.1041*-0.5} 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1041 0.0496 0.0466" />
        </geometry>
      </collision>
    </link>
    
    <xacro:add_optical_frame name="${name}" />
    
    <gazebo reference="${name}_frame">
      <material>Gazebo/Grey</material>
    </gazebo>
    
  </xacro:macro>
  
  <xacro:macro name="flir_a65_camera" params="name parent *origin">
    
    <xacro:flir_a65_camera_model name="${name}" parent="${parent}">
      <xacro:insert_block name="origin" />
    </xacro:flir_a65_camera_model>

    <xacro:flir_a65_camera_gazebo name="${name}"/>
  </xacro:macro>

</robot>
