<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- datasheet: https://www.thermal.com/uploads/1/0/1/3/101388544/compactxr-sellsheet-usa_web.pdf -->

    <xacro:property name="seek_thermal_xr_mass" value="0.014"/>
    <xacro:property name="seek_thermal_xr_length" value="0.027"/>
    <xacro:property name="seek_thermal_xr_width" value="0.04"/>
    <xacro:property name="seek_thermal_xr_height" value="0.055"/>

    <xacro:include filename="$(find hector_xacro_tools)/urdf/inertia_tensors.urdf.xacro" />

    <xacro:property name="M_PI" value="3.14159"/>

    <xacro:macro name="seek_thermal_xr" params="name:=default *origin *parent">
        <joint name="seek_thermal_xr_${name}_base_joint" type="fixed">
            <child link="seek_thermal_xr_${name}_base_link"/>
            <xacro:insert_block name="origin"/>
            <xacro:insert_block name="parent"/>
        </joint>

        <!-- Camera base -->
        <link name="seek_thermal_xr_${name}_base_link">
            <xacro:inertial_cuboid mass="${seek_thermal_xr_mass}" x_length="${seek_thermal_xr_length}" y_length="${seek_thermal_xr_width}" z_length="${seek_thermal_xr_height}" />
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://hector_sensors_description/meshes/seek_thermal_xr/seek_thermal_xr.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.013 0 -0.011" rpy="0 0 0" />
                <geometry>
                    <box size="${seek_thermal_xr_length} ${seek_thermal_xr_width} ${seek_thermal_xr_height}" />
                </geometry>
            </collision>
        </link>

        <!-- Camera sensor -->
        <link name="seek_thermal_xr_${name}_link"/>
        <joint name="seek_thermal_xr_${name}_sensor_joint" type="fixed">
            <origin xyz="0.025 0 0" rpy="0 0 0" />
            <parent link="seek_thermal_xr_${name}_base_link" />
            <child link="seek_thermal_xr_${name}_link" />
        </joint>
    </xacro:macro>
</robot>